	#right_part{
		float:right;
		width:84%;

			.midd_outer{
			margin-top: 40px;
			margin-left: 20px;

			.class_student_wrap{
				margin-top: 40px;
			}
		}

		.el-tag{
			margin-right: 10px;
			margin-bottom: 10px;
		}

		.clear_btn{
			margin-top: 25px;
		}
	}


	.box-card{
		margin-top:60px;
		text-align: center;
	}

	#fig{
		display: inline-block;
		width: 800px;
		height: 500px;
	}

	#fig4self{
		display: inline-block;
		width: 700px;
		height: 500px;
	}

	.right_outer{
		height:100%;
		margin-top: 40px;

		.self_analysis{
			margin-top: 30px;
		}

		.el-table .info-row {
		    background: #c9e5f5;
		}

		.el-table .positive-row {
		    background: #e2f0e4;
		}

		.txt_center{
			text-align: center;
		}

		.row_top{
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.con_list{
			background-color: #fc9d9a;
			color:#FFF;
			font-weight: bold;
			line-height: 30px;
			border-radius: 10px;
		}
	}

	#info{
		padding-top:30px;
		height:100%;
		text-align:left;
		padding-left:30px;
		background-color:#D3DCE6;

		.info_item{
			margin-bottom:20px;
			font-size:16px;
			color:#20A0FF;
			font-weight:bold;
		}

		.head_pic{
			text-align:center;

			.head_pic img{
				display:inline-block;
			}
		}

		.info_item span{
			color:#1F2D3D;
			font-size:18px;
			font-weight:bold;
		}
	}


