
.header{
   display: flex;
   align-items: center;
   background-color: #324057;
   width:100%;
  

  .inner{
  	width:1440px;
  	margin:0 auto;
  }

  .header_logo{
  	padding-left:10px;
	-webkit-box-flex:1;
	flex:1;
  	
  }

.register{   
	margin-right: -15px;
	-webkit-box-flex:1;
	flex:1;
	text-align:right;
	
}



.el-menu--horizontal .el-menu-item {
	height:71px;
	line-height:71px;
	float:right;
	margin-right:1em;
}

.header_login{
	display:none;
	color:#fff;
	float: right!important;
	padding:0;
	margin:0;
	height:71px;
	line-height:71px;
	text-align:center;
	vertical-align:middle;
	padding-left:81%;

	-webkit-box-flex:1;
	flex:1;

	.userImg{
		display:inline-block;
		width:29px;
		height:29px;

		img{
			width:100%;
			vertical-align:middle;
		}
	}

	span{
		position:relative;
		top:3px;
	}
	
}


















}

